In [1]:
#Importing Pandas
import pandas as pd

In [2]:
#storing filepaths for our csv files
student_data_filepath = "Resources/students_complete.csv"
schools_data_filepath = "Resources/schools_complete.csv"

In [3]:
#Creating dataframes from our CSV files
student_data_df = pd.read_csv(student_data_filepath)
school_data_df = pd.read_csv(schools_data_filepath)

In [4]:
# Determine if there are any missing values in the school data.
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [5]:
#Determine if there are any missing values in the student data
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [6]:
#Determining data types for our students dataframe
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [7]:
#Determining data types for our schools dataframe
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [8]:
#Cleaning data by removing prefixes and suffixes from the student names
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")
    
student_data_df

/var/folders/km/rph_91yd0nd_9mqbcssp3fym0000gn/T/ipykernel_14017/2490051897.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [9]:
#Validating that student names were cleaned
student_names = student_data_df["student_name"].tolist()
tofix = []

for name in student_names:
    if len(name.split()) > 2:
        tofix.append(name)

In [10]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [11]:
school_data_complete_df["Student ID"].count()

39170

In [12]:
school_data_df["School ID"].count()

15

In [13]:
total_budget = school_data_df["budget"].sum()

print(f"The total schooling budget is ${total_budget:,.2f} USD")

The total schooling budget is $24,649,428.00 USD

In [14]:
average_reading = school_data_complete_df["reading_score"].mean()
average_math = school_data_complete_df["math_score"].mean()

print(f"The average reading score is {average_reading}, and the average math score is {average_math}.")

The average reading score is 81.87784018381414, and the average math score is 78.98537145774827.

In [15]:
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
                                       
passing_math_count = int(passing_math["student_name"].count())
passing_reading_count = int(passing_reading["student_name"].count())

print(f"There are {passing_math_count} students passing math, and {passing_reading_count} students passing reading")

There are 29370 students passing math, and 33610 students passing reading

In [16]:
student_count = school_data_complete_df["Student ID"].count()

In [17]:
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_reading_percentage = passing_reading_count / float(student_count) * 100

print(f"{passing_math_percentage:.2f}% of students are passing math, and {passing_reading_percentage:.2f}% of students are passing reading")

74.98% of students are passing math, and 85.81% of students are passing reading

In [18]:
passing_all = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)]
passing_all["Student ID"].count()

25528

In [19]:
passing_all_percent = passing_all["Student ID"].count() / student_count * 100

print(f"{passing_all_percent:.2f}% of students are passing both reading and math")

65.17% of students are passing both reading and math

In [20]:
school_count = school_data_df["School ID"].count()

district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math,
          "Average Reading Score": average_reading,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": passing_all_percent}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [21]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [22]:
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [23]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [24]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65